@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Kanit, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

/* Header and navbar */

.header-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2vw;
}

nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}
nav li {
    margin-left: 2em;
}
nav a {
    text-decoration: none;
}

h2 {
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0;
    margin-left: 2%;
}
p {
    padding: 0px;
    margin-top: 0px;
}

.header-navbar {
    font-size: 25px;
    margin-right: 2vw;
}
a {
    color: inherit;
}
a:hover {
    color: blue;
    text-decoration: underline;

}
.hero-image-container {
    position: relative;
    font: bolder;
}
#hero-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 30px;
}

#gotcity-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    margin-bottom: 30px;
}
.fixed-tour {
    position: absolute;
    text-align: left;
    top: 20%;
    right: 2%;
    margin: auto;
    transform: translateY(-50%);
    border-style: outset;
    border-color: black;
    border-radius: 25px;
    padding: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 2.5vw;
}

/* Toursection */

.image-text-aside {
    display: flex;
    margin-left: 2%;
    margin-top: 0px;

}
.image-text-aside p {
    margin-right: 20px;
    margin-top: 0px;
    font-size: 2vw;
    vertical-align: top;
}
.imagetext-inline {
    display: flex;
    margin: 15px 0 15px 0;
    padding: 0;
}
.image-width {
    max-width: 40vw;
    height: auto;
}

.image-width-rab {
    max-width: 40vw;
    height: auto;
}
.text-right-side {
    margin-top: 0;
    margin-left: 10px;
}

div {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    width: 150px;
}

/* Sign up form */

#signup-outerboarder {
    border-width: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
#submit-button {
    margin-top: 20px;
    width: 200px;
    height: 70px;
    font-size: 20px;
}
#submit-button:hover {
    color: white;
    background-color: red;
}

h3 {
    margin-left: 2%;
}

/* Rent a bike tables and layout */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.row_standardbikes,
.row_ebikes {
    display: flex;
    justify-content: left;
    padding-left: 0px;
}

.column_bikes {
    margin-left: 2%;
    margin-right: 15px;
}
.column_bikes p {
    margin-bottom: 0;
}
.margin-left {
    margin-left: 2%;
}
table {
    margin-bottom: 15px;
}
address {

    margin-bottom: 30px;
}

footer {
    background-color: #252621;
}
.social-networks {
    text-align: center;
    padding-left: 0;
}
.social-networks>li {
    display: inline;
    max-width: 100%;
    height: auto;
}
.social-networks i {
    font-size: 160%;
    margin: 3%;
    padding: 5%;
    color: white;
}

/* Media query for ipad/larger mobilephone */
@media screen and (max-width: 960px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        margin-bottom: 0px;
    }
    nav ul {
        flex-direction: row;
        margin-bottom: 5px;
        margin-top: 0;
    }
    nav li {
        margin: 0.2em 0;
        padding: 0px 15px 0px 15px;
    }

    .fixed-tour {
        font-size: 2.5vw;
        padding-bottom: 0;
    }
    .image-text-aside {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px 0 10px 0;
        padding-left: 0;
    }
    .image-text-aside p {
            font-size: 16px;
            margin-right: 50px;
        }

    .row_standardbikes,
    .row_ebikes {
        display: flex;
        flex-direction: column;
    }

    .image-width {
        max-width: 300px;
        height: auto;
        margin-left: 2%;
    }

    .image-width-rab {
        width: 500px;
        height: auto;
        margin-left: 0;
    }
    .column {
        margin-left: 2%;
    }

    .text-right-side {
        margin-top: 0;
        margin-left: 2%;
    }
    
/* Media query for medium-small mobilephone */
    @media screen and (max-width: 499px) {
        h1 {
            font-size: 8vw;
        }

        .text-right-side {
            font-size: 50px;
        }

        nav li {
            font-size: 0.8rem;
        }
    }
}

/* Media query for smallest display */
@media screen and (max-width: 319px) {
    h1 {
        font-size: 8vw;
    }
    nav ul {
        display: inline-block;
    }
}
